#Container {
  display: flex;
  justify-content: space-around;
}

#AcceptButton {
  background-color: green;
  color: white;
  font-weight: bold;
}

#CancelButton {
  background-color: red;
  color: white;
  font-weight: bold;
}

p {
  text-align: center;
}
