<mat-sidenav-container class="Container--Sidenav">
  <h1>
    <mat-icon mat-list-icon [routerLink]="['/dashboard']">arrow_back</mat-icon>
    <span>Errors for {{sandboxId}}</span>
    <mat-button-toggle-group #group="matButtonToggleGroup">
      <mat-button-toggle [routerLink]="['/traces', sandboxId]">
        <mat-icon>view_list</mat-icon>
      </mat-button-toggle>
      <mat-button-toggle [routerLink]="['/terminal', sandboxId]">
        <mat-icon>dvr</mat-icon>
      </mat-button-toggle>
      <mat-button-toggle disabled>
        <mat-icon>error</mat-icon>
      </mat-button-toggle>
    </mat-button-toggle-group>
  </h1>

  <mat-toolbar>
    <mat-form-field class="Filter">
      <input matInput (keyup)="onFiltering($event.target.value)" placeholder="Filter">
    </mat-form-field>
    <span class="Spacer"></span>
    <button mat-icon-button matTooltip="Clear all the traces" matTooltipPosition="before">
      <mat-icon aria-label="Clear trace list" (click)="onClearClick()">clear</mat-icon>
    </button>
  </mat-toolbar>

  <mat-table #table [dataSource]="dataSource">

    <!-- ctx Column -->
    <ng-container matColumnDef="ctx">
      <mat-header-cell *matHeaderCellDef> ctx </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.ctx}} </mat-cell>
    </ng-container>

    <!-- Code Column -->
    <ng-container matColumnDef="code">
      <mat-header-cell *matHeaderCellDef> Code </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.code}} </mat-cell>
    </ng-container>

    <!-- owner Column -->
    <ng-container matColumnDef="owner">
      <mat-header-cell *matHeaderCellDef> Owner </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.owner}} </mat-cell>
    </ng-container>

    <!-- ts Column -->
    <ng-container matColumnDef="time">
      <mat-header-cell *matHeaderCellDef> time </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.ts | date:'HH:mm:SS'}} </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="columns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: columns;" class="Table__Row"></mat-row>

  </mat-table>
  <mat-paginator [length]=pageLength [pageSize]="20" (page)="onChangePagination($event)"></mat-paginator>
</mat-sidenav-container>