<mat-sidenav-container class="sidenav">
  <mat-sidenav #sidenav [opened]="toggle" [mode]="getMode()" class="container" [fixedInViewport]="mobileQuery.matches" fixedTopGap="64">

    <mat-list>
      <h3 mat-subheader>Sandboxes</h3>
      <!-- <div class="sanboxes-list" *ngIf="sandboxes | async">
        <mat-list-item *ngFor="let sanboxe of sanboxes | async" routerLinkActive="active" [routerLink]="['../messages', room._id]">
          <mat-icon mat-list-icon>folder</mat-icon>
          <p mat-line>{{ room.name }}</p>
        </mat-list-item>
      </div> -->

      <mat-divider></mat-divider>

      <h3 mat-subheader>Sandboxes Terminal</h3>
      <!-- <div class="user-list" *ngIf="users | async">
        <mat-list-item *ngFor="let user of users | async" routerLinkActive="active" [routerLink]="['../messages', user._id]">
          <mat-icon *ngIf="user.connected" style="color:green" mat-list-icon>radio_button_checked</mat-icon>
          <mat-icon *ngIf="!user.connected" mat-list-icon>radio_button_unchecked</mat-icon>
          <p mat-line>{{ user.username }}</p>
        </mat-list-item>
      </div> -->
    </mat-list>

  </mat-sidenav>

  <mat-sidenav-content>
    <div class="wrapper">
      <router-outlet></router-outlet>
      <mat-spinner diameter="50"></mat-spinner>
    </div>
  </mat-sidenav-content>

</mat-sidenav-container>