<mat-sidenav-container class="sidenav">
  <mat-sidenav #sidenav [opened]="toggle" [mode]="getMode()" class="container" [fixedInViewport]="mobileQuery.matches" fixedTopGap="64">

    <mat-list>
      <h3 mat-subheader>Sandboxes</h3>
      <div class="sandboxe-list" *ngIf="sandboxes">
        <mat-list-item *ngFor="let sandbox of sandboxes" [ngClass]="{'debug': sandbox.debug, 'active': isSandboxActive(sandbox) }">
          <p mat-line>{{ sandbox.name }}</p>
          <mat-icon mat-list-icon
            [routerLink]="['traces', sandbox.businessId]"
            matTooltip="Debug active"
            matTooltipPosition="after"
            [matTooltipDisabled]="!sandbox.debug">view_list</mat-icon>
          <mat-icon mat-list-icon
            [routerLink]="['terminal', sandbox.businessId]"
            matTooltip="Debug active"
            matTooltipPosition="after"
            [matTooltipDisabled]="!sandbox.debug">dvr</mat-icon>
          <mat-icon mat-list-icon
            [routerLink]="['error', sandbox.businessId]"
            matTooltip="Debug active"
            matTooltipPosition="after"
            [matTooltipDisabled]="!sandbox.debug">error</mat-icon>
        </mat-list-item>
      </div>
    </mat-list>

    <mat-list class=legend>
      <mat-divider></mat-divider>
      <mat-list-item>
        <mat-icon mat-list-icon>view_list</mat-icon>
        <p mat-line>traces tab view</p>
      </mat-list-item>
      <mat-list-item>
          <mat-icon mat-list-icon>dvr</mat-icon>
          <p mat-line>traces terminal view</p>
      </mat-list-item>
      <mat-list-item>
          <mat-icon mat-list-icon>error</mat-icon>
          <p mat-line>error traces view</p>
      </mat-list-item>
    </mat-list>

  </mat-sidenav>

  <mat-sidenav-content>
    <div class="wrapper">
      <router-outlet></router-outlet>
      <mat-spinner diameter="50"></mat-spinner>
    </div>
  </mat-sidenav-content>

</mat-sidenav-container>